@{
    ViewData["Title"] = "Privacy Policy";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
               Privacy
            </li>
        </ol>
    </nav>
<h2>Privacy Policy</h2>
<p>We value your privacy. Here's how we handle your data...</p>
