@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="fas fa-home"></i></a></li>

        @if (controller != "Dashboard")
        {
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", controller)">@controller</a>
            </li>
        }

        @if (action != "Index")
        {
            <li class="breadcrumb-item active" aria-current="page">
                @action
            </li>
        }
    </ol>
</nav>